doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title HTMX Todo App
        script(src="https://cdn.tailwindcss.com")
        script(src='https://unpkg.com/htmx.org@1.9.8')

    body(class='font-mono h-screen bg-gray-200 flex flex-col items-center justify-center')
        section.todoapp(class='w-96 bg-white p-8 rounded-md shadow-xl')
            header.header
                h1(class='text-xl font-bold pb-4') todos

            div(class='pb-4')
                include components/add-todo

            main.content(class='')
                ul.todos
                    each todo in todos
                        include components/todo-item