doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Template • TodoMVC
        link(rel='stylesheet' href='/css/todomvc-common/base.css')
        link(rel='stylesheet' href='/css/todomvc-app-css/index.css')
        // CSS overrides - remove if you don't need it
        //-link(rel='stylesheet' href='css/app.css')
    body
        section.todoapp
            header.header
                h1 todos
        script(src='https://unpkg.com/htmx.org@1.9.8')